@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,700;1,200&display=swap');
* {
	box-sizing: border-box;
	margin: 0px;
	font-family: 'Montserrat';
}

html, body {
	width: 100%;
}

		.loader {
			background: url('../img/loaderajadi.gif') no-repeat;
			background-size: 50%;
			background-position: center;
			width: 100%;
			height: 100vh;
			position: fixed;
			background-color: white;
			z-index: 100;
			top: 0;
			bottom: 0;
			display: none;
			justify-content: center;
			align-items: center;
		}

.header {
	height: 70px;
	background-color: #ffffff;
	width: 100%;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left:10%;
	padding-right: 10%;
	align-items :center;
	font-family: 'Montserrat';
	
}

.button {
			background-color: rgba(0, 173, 181, 1);
			color: white;
			border: none;
			height: 40px;
			border-radius: 5px;
			font-size: 10px;
			width: 150px;
			font-weight: 600;
			cursor: pointer;
			transition: all 0.5s ease-out;
		}

		.visit-button {
			background-color: rgb(42, 183, 200);
			color: white;
			border: none;
			height: 30px;
			border-radius: 25px;
			font-size: 10px;
			width: 120px;
			font-weight: 600;
			cursor: pointer;
			transition: all 0.5s ease-out;
		}
	
		.visit-button:hover {
			background-color: rgb(25, 88, 95);
		}



.sticky-header {
			position: fixed;
			top: 0;
			height: 75px;
			transform: translateY(-10px);
			background-color: #ffffff;
			transition: all ease-in 0.3s;
			z-index: 1;
			display: flex;
			flex-direction: row;
	
}

.logo {
	order: 1;
	height: 60px;
	cursor: pointer;
}

.hamburger-button {
	display: none;

}

.nav-list {
	display: flex;
	flex-direction: row;
	list-style: none;
	justify-content: center;
	align-items: center;
	order: 2;
	height: 100%;
	padding-left: 5%;
	text-decoration: none;
	

}

.nav-list li {
	width: 100%;
	height: 100%;
	margin-right: 50px ;
	display: flex;
	align-items: center;
	justify-items: center;
}
.nav-list li a {
	text-decoration: none;
}
.nav-list button {
	display: none;

}

				#contact-button {
					border: 0px;
					border-radius: 20px;
					height: 35px;
					width: 120px;
					background-color: rgb(23, 122, 128);
					font-weight: 500;
					color: #eeeeee;
					cursor: pointer;
					transition: 0.3s ease-out;
					font-weight: 600;
					margin-right: 20px;
				}

		
				#contact-button:hover {
					background-color: rgb(15, 87, 91);
				}


.main {
			width: 100%;
			min-height: 100vh;
			background-image: url('../img/bgmainmobile.png');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			padding-top: 10%;
}

		.pic-holder {
			/* background-color: red; */
			height: 350px;
			border-radius: 250px;
			border: solid white 10px;
			width: 350px;
			color: #eeeeee;
			background-image: url('../img/mypic.png');
			background-size: cover;
			transition: all ease-out 0.3s;
		}
	
		.pic-holder:hover {
			height: 320px;
			width: 320px;
			transition: all ease-in 0.3s;
		}

.headline {
	/* background-color: red; */
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 70px;
	font-weight: 800;
	text-align: center;
	width: 50%;
	color: white;
	margin-top: -10px;
}

#potfolio-button {
			margin-bottom: 200px;
		}


.section-2 {
	width: 100%;
	height: 350px;
	/* background-color: rgb(144, 63, 63); */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	transition: all ease-out 0.3s;


}



.circle-frame {
	/* background-color: red; */
	height: 150px;
	border-radius: 150px;
	width: 150px;
	color: #eeeeee;
	background-image: url('../img/typingman1.png');
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 50px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.circle-frame:hover {
	height: 155px;
	width: 155px;
	transition: all ease-in 0.3s;
}

.heading {
	font-weight: 600;
	font-size: 30px;
}

.text {
	text-align: center;
	width: 50%;
	margin-bottom: 35px;
	font-size: 18px;
}

.section-3 {
	width: 100%;
	height: 350px;
	/* background-color: rgb(144, 63, 63); */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#second-circle {
	background-image: url('../img/typingman2.png');
}

#second-circle:hover {
	height: 155px;
	width: 155px;
	transition: all ease-in 0.3s;
}

#second-heading {
	font-weight: 600;
}

#second-text {
	text-align: center;
	width: 60%;
	margin-bottom: 70px;
	margin-top: 0px;
}

.section-4 {
	width: 100%;

	background-color: #393e46;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-top: 10%;
	margin-top: 10px;
	padding-bottom: 10%;
}

#skill-intro {
	text-align: center;
	width: 70%;
	color: #eeeeee;
}

.skill-holder {
	height: 200px;
	width: 80%;
	background-color: #eeeeee;
	margin-bottom: 10px;
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.skill-holder div {
	margin: 5px;
}

.skill-pic-holder {
	height: 100px;
	border-radius: 50px;
	border: solid white 10px;
	width: 100px;
	color: #eeeeee;
	background-image: url('../img/testimony.jpg');
	background-size: cover;
}

#javascript {
	background-image: url('../img/jscript.png');
}

#react {
	background-image: url('../img/react.png');
}

#swift {
	background-image: url('../img/swift.png');
}

#php {
	background-image: url('../img/php.png');
}

#python {
	background-image: url('../img/python.png');
	background-color: white;
}

.testimonial-section {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
	padding-bottom: 10%;
}

.testimony-holder {
	width: 95%;
	background-color: #eeeeee;
	height: 400px;
	border-radius: 5px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	padding-top: 15%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#testimony-intro {
	color: #393e46;
	text-align: center;
	width: 60%;
	font-size: 40px;
	/* background-color: aqua; */
}

#testimony-scroll {
	background-color: white;
	width: 95%;
}

#testimony-toggle-holder {
	/* background-color: red; */
	width: 95%;
	height: 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0px 5%;
	margin-top: -10px;
}

.toggle-circles {
	background-color: rgb(46, 46, 51);
	height: 10px;
	border-radius: 5px;
	border: solid white 1px;
	width: 10px;
	color: #eeeeee;
	background-size: cover;
	cursor: pointer;
}

.potfolio-section {
	width: 100%;
	background-color: #fdf1d4;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-top: 10%;
	margin-top: 10px;
}

.potfolio-pic-holder {
	height: 650px;
	width: 95%;
	background-color: #eeeeee;
	background-size: cover;
	margin-bottom: 15px;
	margin-top: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	
}

#project-1 {
	background-image: url('../img/project1.png');
	background-size: cover;
	background-repeat: no-repeat;

}

#project-2 {
	background-image: url('../img/product2.png');
	background-size: cover;
	background-repeat: no-repeat;

}

#project-3 {
	background-image: url('../img/project3.png');
	background-size: cover;
	background-repeat: no-repeat;

}

#project-4 {
	background-image: url('../img/project6.png');
	background-size: cover;
	background-repeat: no-repeat;

}

#project-5 {
	background-image: url('../img/project7.png');
	background-size: cover;
	background-repeat: no-repeat;

}

.other-skill-section {
	width: 100%;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-top: 10%;
	margin-top: 10px;
	padding-bottom: 10%;
}

#skill1 {
	background-image: url('../img/skill1.jpg');
}

#skill2 {
	background-image: url('../img/skill2.jpg');
}

#skill3 {}

.footer {
	height: 40vh;
	background-color: #2ab7c8;
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #ffffff;
}

.footer div {
	margin: 5px;
	justify-content: center;
}

.Copyright {
	height: 10vh;
	background-color: #393e46;
	width: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
}

#copywritting {
	/* background-color: rgb(71, 255, 80); */
	background-image: none;
	background-image: url('../img/skill3.jpg');
}

.reveals {
	position: relative;
	transform: translateY(150px);
	opacity: 0;
	transition: all ease-out 0.3s;
}

.reveals.active {
	transform: translateY(0px);
	opacity: 1;
	transition: all ease-in 0.3s;

}

.footer {
	width: 100%;
	height: 25vh;
	/* background-color: rgb(128, 0, 105); */
}

@media screen and (max-width: 750px) {
	@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,700;1,200&display=swap');

	* {
		box-sizing: border-box;
		margin: 0px;
		font-family: 'Montserrat', 'Times New Roman', Times, serif;
	}

	.header {
		height: 70px;
		background-color: #ffffff;
		display: flex;
		flex-direction: row;
		width: 100%;
		box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
		justify-content: space-between;
		padding: 0px 0px;
		align-items: center;
		transition: all ease-out 0.1s;
	}

	.loader{
		background: url('../img/loaderajadi.gif') no-repeat;
		background-size: 50%;
		background-position: center;
		width: 100%;
		height: 100vh;
		position:fixed;
		background-color: white;
		z-index: 100;
		top: 0;
		bottom: 0;
		display: none;
		justify-content: center;
		align-items: center;
	}

	.sticky-header {
			position: fixed;
			top: 0;
			height: 90px;
			transform: translateY(-10px);
			background-color: #ffffff;
			transition: all ease-in 0.3s;
			z-index: 1;
			
	}

	.nav-list {
		background-color: rgb(255, 255, 255);
		box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
		position: fixed;
		top: 0;
		display: flex;
		flex-direction: column;
		right: 0;
		width: 70%;
		list-style: none;
		justify-content: center;
		align-items :center;
		transform: translateX(100%);
		justify-content: space-around;
		height: 50vh;
		color: #393e46;
		transition: transform ease-in 0.3s;
		padding-left: 0px;
		padding-bottom: 5%;

	}

.nav-list li{
display: flex;
align-items: center;
justify-content: center;
margin-right: 0px;
margin-left: 0px
}


	.on-nav{
		transform: translateX(0%);
		transition: transform ease-out 0.3s;
	}

	.hamburger-button {
		width: 15%;
		height: 40px;
		border: none;
		order: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: none;
		margin-left: 25px;

	}

	.logo {
		order: 2;
	}

	.hamburger-button div {
		border-radius: 3px;
		margin-bottom: 5px;
	}

	.hamburger-button div:hover {
		width: 10%;
		cursor: pointer;
	}

	#one {
		width: 60%;
		border: 1px solid black;
		margin-top: 5px;
		transition: all 0.3s ease-out;
	}

	#one:hover {
		width: 55%;
		transition: all 0.3s ease-in;
	}

	#two {
		width: 50%;
		border: 1px solid black;
	}
	#two:hover {
		width: 65%;
		transition: all 0.1s ease-in;
	}

	#three {
		width: 60%;
		border: 1px solid black;
	}
	#three:hover {
		width: 55%;
		transition: all 0.3s ease-in;
	}

	#contact-button {
		border: 0px;
		border-radius: 20px;
		height: 35px;
		width: 120px;
		background-color: rgba(0, 173, 0181, 1);
		font-weight: 500;
		color: #eeeeee;
		cursor: pointer;
		transition: 0.3s ease-out;
		font-weight: 600;
		margin-right: 20px;
	}

	#contact-button-nav {
			border-radius: 20px;
			height: 35px;
			width: 120px;
			background-color: rgba(0, 173, 0181, 1);
			font-weight: 600;
			color: #eeeeee;
			cursor: pointer;
			transition: 0.3s ease-out;
			font-weight: 600;
			display: flex;
			align-items: center;
			justify-content: center;
			text-decoration: none;
			margin: 0px;
	}
#contact-button-nav:hover{
	background-color: rgba(0, 13, 178, 0.8);
		transition: 0.3s ease-in;
		display: flex;
		align-items: center;
		justify-content: center;
}

.reveals {
	position: relative;
	transform: translateY(150px);
	opacity: 0;
	transition: all ease-out 0.3s;
}

.reveals.active {
	transform: translateY(0px);
	opacity: 1;
	transition: all ease-in 0.3s;

}

	#contact-button:hover {
		background-color: rgba(0, 13, 178, 0.8);
		border: 0px;
		transition: 0.3s ease-in;
	}

	#logo {
		height: 50px;
	}

	.main {
		width: 100%;
		min-height: 100vh;
		background-image: url('../img/bgmainmobile.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		padding-top: 15%;
	}

	.pic-holder {
		/* background-color: red; */
		height: 250px;
		border-radius: 150px;
		border: solid white 10px;
		width: 250px;
		color: #eeeeee;
		background-image: url('../img/mypic.png');
		background-size: cover;
		margin-top: 50px;
		transition: all ease-out 0.3s;
	}

	.pic-holder:hover {
		height: 255px;
		width: 255px;
		transition: all ease-in 0.3s;
	}

	.headline {
		/* background-color: red; */
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 50px;
		font-weight: 800;
		text-align: center;
		width: 90%;
		color: white;
		
	}

				.headline p {
					
					color: rgb(255, 255, 255);
					margin-top: 10px;
					line-height: 50px;
					margin-top: 20px;
					margin-bottom: 20px;
		
				}

	.button {
		background-color: rgba(0, 173, 181, 1);
		color: white;
		border: none;
		height: 40px;
		border-radius: 5px;
		font-size: 10px;
		width: 150px;
		font-weight: 600;
		cursor: pointer;
		transition: all 0.5s ease-out;
	}

	.visit-button {
		background-color: rgb(42, 183, 200);
		color: white;
		border: none;
		height: 30px;
		border-radius:25px;
		font-size: 10px;
		width: 120px;
		font-weight: 600;
		cursor: pointer;
		transition: all 0.5s ease-out;
	}

		.visit-button:hover{
			background-color: rgb(25, 88, 95);
		}


	.button:hover {
		background-color: rgba(4, 141, 148, 1);
		transition: all 0.5s ease-in;
	}

	#potfolio-button {
		margin-bottom: 150px;
		margin-top: -40px;
	}

	.section-2 {
		width: 100%;
		height: 350px;
		/* background-color: rgb(144, 63, 63); */
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		transition: all ease-out 0.3s;
		
		
	}

	

	.circle-frame {
		/* background-color: red; */
		height: 150px;
		border-radius: 150px;
		width: 150px;
		color: #eeeeee;
		background-image: url('../img/typingman1.png');
		background-size: cover;
		background-repeat: no-repeat;
		margin-top: 50px;
		box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
		margin-bottom: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.circle-frame:hover {
		height: 155px;
		width: 155px;
		transition: all ease-in 0.3s;
	}

	.heading {
		font-weight: 600;
			font-size: 14px;
	}

	.text {
		text-align: center;
		width: 70%;
		margin-bottom: 35px;
		font-size: 14px ;
	}

	.section-3 {
		width: 100%;
		height: 350px;
		/* background-color: rgb(144, 63, 63); */
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	#second-circle {
		background-image: url('../img/typingman2.png');
	}

	#second-circle:hover {
		height: 155px;
		width: 155px;
		transition: all ease-in 0.3s;
	}

	#second-heading {
		font-weight: 600;
	}
	#second-text {
		text-align: center;
		width: 60%;
		margin-bottom: 70px;
		margin-top: 0px;
	}

	.section-4 {
		width: 100%;

		background-color: #393e46;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		padding-top: 10%;
		margin-top: 10px;
		padding-bottom: 10%;
	}

	#skill-intro {
		text-align: center;
		width: 70%;
		color: #eeeeee;
	}

	.skill-holder {
		height: 200px;
		width: 90%;
		background-color: #eeeeee;
		margin-bottom: 10px;
		margin-top: 10px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	.skill-holder div {
		margin: 5px;
	}

	.skill-pic-holder {
		height: 80px;
		border-radius: 40px;
		border: solid white 5px;
		width: 80px;
		color: #eeeeee;
		background-image: url('../img/testimony.jpg');
		background-size: cover;
	}

	#javascript{
		background-image: url('../img/jscript.png');
	}

	#react {
		background-image: url('../img/react.png');
	}

		#swift {
			background-image: url('../img/swift.png');
		}
		#php {
			background-image: url('../img/php.png');
		}
		#python {
			background-image: url('../img/python.png');
			background-color: white;
		}

	.testimonial-section {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		margin-top: 10px;
		padding-bottom: 10%;
	}

	.testimony-holder {
		width: 95%;
		background-color: #eeeeee;
		height: 400px;
		border-radius: 5px;
		box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
		padding-top: 15%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#testimony-intro {
		color: #393e46;
		text-align: center;
		width: 60%;
		font-size: 15px;
		/* background-color: aqua; */
	}

	#testimony-scroll {
		background-color: white;
		width: 95%;
	}

	#testimony-toggle-holder {
		/* background-color: red; */
		width: 95%;
		height: 40px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 0px 5%;
		margin-top: -10px;
	}

	.toggle-circles {
		background-color: rgb(46, 46, 51);
		height: 10px;
		border-radius: 5px;
		border: solid white 1px;
		width: 10px;
		color: #eeeeee;
		background-size: cover;
		cursor: pointer;
	}

	.potfolio-section {
		width: 100%;

		background-color: #fdf1d4;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		padding-top: 10%;
		margin-top: 10px;
		padding-bottom: 10%;
	}

	.potfolio-pic-holder {
		height: 250px;
		width: 95%;
		background-color: #eeeeee;
		margin-bottom: 10px;
		margin-top: 10px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		border-radius: 20px;
	}

	#project-1{
		background-image: url('../img/project1.png');
		background-size: cover;
		background-repeat: no-repeat;

	}

	#project-2 {
			background-image: url('../img/product2.png');
			background-size: cover;
			background-repeat: no-repeat;
	
		}
	#project-3 {
					background-image: url('../img/project3.png');
					background-size: cover;
					background-repeat: no-repeat;
		
				}

	#project-4 {
			background-image: url('../img/project6.png');
			background-size: cover;
			background-repeat: no-repeat;
	
		}

		#project-5 {
			background-image: url('../img/project7.png');
			background-size: cover;
			background-repeat: no-repeat;
	
		}

	.other-skill-section {
		width: 100%;
		background-color: #ffffff;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		padding-top: 10%;
		margin-top: 10px;
		padding-bottom: 10%;
	}

	#skill1{
		background-image: url('../img/skill1.jpg');
	}

	#skill2{
		background-image: url('../img/skill2.jpg');
	}

		#skill3 {
			
		}

	.footer {
		height: 40vh;
		background-color: #2ab7c8;
		width: 100%;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: #ffffff;
	}

	.footer div {
		margin: 5px;
		justify-content: center;
	}

	.Copyright {
		height: 10vh;
		background-color: #393e46;
		width: 100%;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #ffffff;
	}

	#copywritting {
		/* background-color: rgb(71, 255, 80); */
		background-image: none;
		background-image: url('../img/skill3.jpg');
	}
}
